<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <div id=doc>

      <header>
        <h1>FrozenChan!</h1>
      </header>

      <main>
        <div class="box" id="anounce">
          <div class="box-inner">
            <div class="box-head">
              <h2>O que é o FrozenChan?</h2>
            </div>
            <div class="box-content">
              <p>Frozen Chan é uma image board open source feita em haskell nao tem muita coisa pra falar mas precios encher essa barra aqui pra ficar daora entao nao precisa continuar lendo voce ja pode parar</p>
              <br>
              <p>Beleza ja pode parar de ler</p>
            </div>
          </div>
        </div>

        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e515f101-32c1-4da3-bf42-9f7d8ed9e2fb/da47099-78129e01-fa6a-4cac-a5dc-545f7594eee6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTUxNWYxMDEtMzJjMS00ZGEzLWJmNDItOWY3ZDhlZDllMmZiXC9kYTQ3MDk5LTc4MTI5ZTAxLWZhNmEtNGNhYy1hNWRjLTU0NWY3NTk0ZWVlNi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.2yB-raS1ZFi4Mxs9kS7MntArR6ZbW0836-pooK9VL4E" class="test">

        <div class="box" style="margin-top: -3px">
          <div class="box-inner">
            <div class="box-head">
              <h2>Boards</h2>
            </div>
            <div class="box-content">
              <table>
                <tr>
                  <th class="board">Boards</th>
                  <th class="dir">Diretório</th>
                  <th>Threads ativas</th>
                  <th>Usuarios hoje</th>
                </tr>
                <tr>
                  <td><a href="#">Random</a></td>
                  <td>/b/</td>
                  <td>94</td>
                  <td>5326</td>
                </tr>
                <tr>
                  <td><a href="#">Animes</a></td>
                  <td>/a/</td>
                  <td>32</td>
                  <td>125</td>
                </tr>
                <tr>
                  <td><a href="#">Tecnologia</a></td>
                  <td>/g/</td>
                  <td>74</td>
                  <td>2425</td>
                </tr>
                <tr>
                  <td><a href="#">Esportes</a></td>
                  <td>/s/</td>
                  <td>2</td>
                  <td>42</td>
                </tr>
                <tr>
                  <td><a href="#">Porn</a></td>
                  <td>/pr0n/</td>
                  <td>67</td>
                  <td>647</td>
                </tr>
                <tr>
                  <td><a href="#">shitpost</a></td>
                  <td>/shit/</td>
                  <td>12</td>
                  <td>65</td>
                </tr>
                <tr>
                  <td><a href="#">Paranormal</a></td>
                  <td>/x/</td>
                  <td>12</td>
                  <td>65</td>
                </tr>
                <tr>
                  <td><a href="#">Pintos femininos</a></td>
                  <td>/neo/</td>
                  <td>12</td>
                  <td>65</td>
                </tr>
                <tr>
                  <td><a href="#">Requests</a></td>
                  <td>/r/</td>
                  <td>12</td>
                  <td>65</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-inner">
            <div class="box-head">
              <h2>Stats</h2>
            </div>
            <div class="box-content">
              <div class="stats">
                <p><strong>Total de threads: </strong>5362</p>
                <p><strong>Online agora: </strong>125</p>
                <p><strong>Conteúdo ativo: </strong>124 GB</p>
              </div>
            </div>
          </div>
        </div>

      </main>
      
      
      <footer>
        <p>Criado por abcBW & Smezzy</p>
      </footer>

    </div>
  </body>
</html>
